@page "/Contacts"

    <!DOCTYPE html>
    <html>
    <head>
        <title>Контакты</title>
        <link rel="stylesheet" href="~/css/site.css">
    </head>

    <body>
        <div class="page-wrapper fhg-content">
            <div class="container page-inner ">

                <div class="breadcrumb-wrapper">

                    <ul class="breadcrumb1">

                        <li class="breadcrumb-item home">
                            <a class="breadcrumb-link" title="Главная" href="/"><i class="fa fa-home"></i></a>
                        </li>

                        <li class="breadcrumb-item">
                            <span class="breadcrumb-link current-page">Контакты</span>
                        </li>

                    </ul>

                </div> <!--назад-->

                <div class="decorated-title-wrapper">
                    <div class="decorated-title">

                        <div class="page-header-wrapper">
                            <h1 class="page-header">

                                Контакты

                            </h1>
                        </div>

                    </div>
                </div> <!--плашка-->

                <div class="page-content page-/page/contacts">
                    <div class="editor">
                        <p>Вы можете найти нас по адресу: г. Киров, ул. Чапаева, дом 10, офис 201</p>
                        <p>Как добраться: автобусная остановка "расcвет", пройти в сторону дома обуви.</p>
                        <p>Телефон отдела продаж: +7 953-943-58-69</p>
                        <p>Email: flash@gmail.com</p>
                        <p><strong>График работы офиса и склада:</strong></p>
                        <table>
                            <tbody>
                                <tr>
                                    <td>Понедельник</td>
                                    <td>с 9:00 до 21:00</td>
                                </tr>
                                <tr>
                                    <td>Вторник</td>
                                    <td>с 9:00 до 21:00</td>
                                </tr>
                                <tr>
                                    <td>Среда</td>
                                    <td>с 9:00 до 21:00</td>
                                </tr>
                                <tr>
                                    <td>Четверг</td>
                                    <td>с 9:00 до 21:00</td>
                                </tr>
                                <tr>
                                    <td>Пятница</td>
                                    <td>с 9:00 до 21:00</td>
                                </tr>
                                <tr>
                                    <td>Суббота</td>
                                    <td>с 10:00 до 20:00</td>
                                </tr>
                                <tr>
                                    <td>Воскресенье</td>
                                    <td>нерабочий день</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>Заказы через сайт принимаются круглосуточно!</p>
                        <p><strong>Реквизиты:</strong></p>
                        <p>ИП Макаров Виктор Вячеславович</p>
                        <p>ОГРНИП: 123456789012345</p>
                        <p>ИНН: 123456789012</p>
                        <p>КПП: 123456789</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
    @code {

    }
