@page "/Delivery"

    <!DOCTYPE html>
    <html>
    <head>
        <title>Доставка</title>
        <link rel="stylesheet" href="~/css/site.css">
    </head>

    <body>
                <div class="page-wrapper fhg-content">
                    <div class="container page-inner ">

                        <div class="breadcrumb-wrapper">

                            <ul class="breadcrumb1">

                                <li class="breadcrumb-item home">
                                    <a class="breadcrumb-link" title="Главная" href="/"><i class="fa fa-home"></i></a>
                                </li>

                                <li class="breadcrumb-item">
                                    <span class="breadcrumb-link current-page">Доставка</span>
                                </li>

                            </ul>
                        </div> <!--назад-->

                        <div class="decorated-title-wrapper">
                            <div class="decorated-title">

                                <div class="page-header-wrapper">
                                    <h1 class="page-header">

                                        Доставка

                                    </h1>
                                </div>

                            </div>
                        </div> <!--плашка-->

                        <div class="page-content page-/page/delivery">
                            <div class="editor">
                                <p>Наш интернет-магазин осуществляет доставку по Москве и регионам России:</p>
                                <ol class="table">
                                    <li>Курьерская доставка по Кирову — 300 руб.&nbsp;</li>
                                    <li>Самовывоз из нашего пункта выдачи или розничного магазина – бесплатно!</li>
                                    <li>Почтовая доставка по России — от 150 руб. в зависимости от адреса доставки.</li>
                                </ol>
                                <p>Сроки доставки:</p>
                                <ol class="table">
                                    <li>Курьерская доставка по Кирову – на следующий день</li>
                                    <li>Самовывоз – на следующий день</li>
                                    <li>Почтовая доставка по России – от 3 до 14 дней в зависимости от региона</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
    </body>
    </html>

    @code {

    }
