@page "/Payment"

<!DOCTYPE html>
<html>
<head>
    <title>Контакты</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>

<body>
    <div class="page-wrapper fhg-content">
        <div class="container page-inner ">

            <div class="breadcrumb-wrapper">

                <ul class="breadcrumb1">

                    <li class="breadcrumb-item home">
                        <a class="breadcrumb-link" title="Главная" href="/"><i class="fa fa-home"></i></a>
                    </li>

                    <li class="breadcrumb-item">
                        <span class="breadcrumb-link current-page">Оплата</span>
                    </li>

                </ul>

            </div> <!--назад-->

            <div class="decorated-title-wrapper">
                <div class="decorated-title">

                    <div class="page-header-wrapper">
                        <h1 class="page-header">

                            Оплата

                        </h1>
                    </div>

                </div>
            </div> <!--плашка-->

            <div class="page-content1 page-/page/payment">
                <div class="editor">
                    <p>Вы можете оплатить заказ:</p>
                    <ol class="table">
                        <li>Наличными в пункте выдачи при получении заказа</li>
                        <li>Наложенным платежом при заказе с доставкой Почтой России</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
    @code {

    }
