<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="footer-block footer-menu-wrapper is-vertical cell-3 cell-12-sm">

                <ul class="footer-menu menu">

                    <li class="footer-menu-item menu-item level-1 ">

                        <a href="/Offert" class="footer-menu-link menu-link level-1">
                            Политика конфиденциальности и оферта
                        </a>
                    </li>

                    <li class="footer-menu-item menu-item level-1 ">

                        <a href="/Usersaccept" class="footer-menu-link menu-link level-1">
                            Пользовательское соглашение
                        </a>
                    </li>

                    <li class="footer-menu-item menu-item level-1 ">

                        <a href="/Delivery" class="footer-menu-link menu-link level-1">
                            Доставка
                        </a>
                    </li>


                    <li class="footer-menu-item menu-item level-1 ">

                        <a href="/Payment" class="footer-menu-link menu-link level-1">
                            Оплата
                        </a>
                    </li>

                </ul>

            </div>

            <div class="footer-block social-menu-wrapper cell-6 cell-12-sm cell-12-xs flex-first-sm text-center">

                <ul class="social-menu list">
                </ul>

            </div>

            <div class=" cell-3 cell-6-sm cell-12-xs text-right text-left-sm text-center-xs">
                <div class="footer-block">

                    <a href="tel:+7 953 943-58-69" class="contact-link"><i class="icon fa fa-phone"></i> +7 953 943-58-69</a>

                </div>

                <div class="footer-block">

                    <a href="mailto:flash@gmail.com" class="contact-link"><i class="icon fa fa-envelope"></i>    flash@gmail.com</a>

                </div>
            </div>
        </div>
    </div>
</footer> <!--нижняя панель-->

@code {

}
